root = true
[*] 
file_header_template = ----------------------------------------------------------------------------- \nProject: Projections \nCopyright (c) 2025 \nAuthor: Evan Riker \nGitHub Account: hutonahill \nEmail: evan.k.riker@gmail.com \n\nLicense: GNU General Public License \n\nThis program is free software: you can redistribute it and/or modify \nit under the terms of the GNU General Public License version 3 as published by \nthe Free Software Foundation.\n\nThis program is distributed in the hope that it will be useful, \nbut WITHOUT ANY WARRANTY, without even the implied warranty of \nMERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the \nGNU General Public License for more details. \n\nYou should have received a copy of the GNU General Public License \nalong with this program.  If not, see <https://www.gnu.org/licenses/>.\n-----------------------------------------------------------------------------
